{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Gerer du texte</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>Contenu</th>
					<th>Code</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for Text in texts %}
					<tr>
						<td>{{Text.id}}</td>
						<td>{{Text.contenu | raw}}</td>
						<td>{{Text.code}}</td>
						<td>
							<a href="{{ path('verify.text.edit', {id: Text.id}) }}" class="btn btn-secondary">Editer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
