{% extends 'base.html.twig' %}

{% block body %}

	<h1>
		<center>
			<p class="text-warning"><br><br>PICOUT<br><br><center>
					<p class="text-warning">TOM<br></p>
				</h1>
				<h3>
					<center>
						<p class="text-warning">Etudiant en Informatique</p>
					</center>
				</h3>
				<br><br>
				<h2>
					<center>A propos de moi</center>
				</h2>
				<br>
				<div class="card-group">
					<div class="card bg-light mb-3" style="max-width: 100rem;">
						<div class="card-header">Header</div>
						<div class="card-body">
							<h5 class="card-title">Light card title</h5>
							<p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius esse iure, architecto expedita quam quaerat debitis eveniet minima optio dolorum nihil. Corporis, ut non. Sed et nostrum harum molestias obcaecati aspernatur voluptatum voluptates, quos praesentium ab voluptatibus rerum eligendi ex, omnis, nisi corporis soluta ad dolore id doloribus. Beatae, facere.</p>
							<p></p>
							Totam facere reiciendis ea accusantium aspernatur facilis dolor tempore repellat minus officia, culpa, explicabo voluptates eligendi vero quae animi dolorem veritatis sequi! Mollitia odit illo cupiditate, quis rem et, temporibus magni explicabo vitae accusamus, velit omnis ab officiis ut dolore nobis quisquam labore iste ipsum recusandae possimus pariatur. Optio, soluta?<p></p>
						</p>
					</div>
				</div>
				<div class="card text-white bg-dark mb-3" style="max-width: 100rem;">
					<div class="card-header">Header</div>
					<div class="card-body">
						<h5 class="card-title">Dark card title</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus voluptatum, minima debitis itaque eveniet omnis, dolorem et impedit illo corrupti autem magni sint non placeat aspernatur consequatur consectetur modi, maxime sed ab dolore ducimus eum. Laboriosam adipisci ipsa sint voluptas labore velit facilis, molestias accusamus ipsam rerum consectetur asperiores fuga.</p>
						<p></p>
						Nam sapiente commodi ea placeat facilis. Quisquam, quasi quia, atque unde eos hic pariatur ea, autem tempora aspernatur nobis perferendis quo! Excepturi, totam nemo voluptas, animi dicta earum sequi harum nihil ipsum ea soluta, vel libero perferendis esse doloremque sit labore distinctio expedita a. Reprehenderit tempora dignissimos aut dicta ipsa?<p></p>
					</p>
				</div>
			</p>
		</div>
		<div class="card bg-light mb-3" style="max-width: 100rem;">
			<div class="card-header">Header</div>
			<div class="card-body">
				<h5 class="card-title">Light card title</h5>
				<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus voluptatum, minima debitis itaque eveniet omnis, dolorem et impedit illo corrupti autem magni sint non placeat aspernatur consequatur consectetur modi, maxime sed ab dolore ducimus eum. Laboriosam adipisci ipsa sint voluptas labore velit facilis, molestias accusamus ipsam rerum consectetur asperiores fuga.</p>
				<p></p>
				Nam sapiente commodi ea placeat facilis. Quisquam, quasi quia, atque unde eos hic pariatur ea, autem tempora aspernatur nobis perferendis quo! Excepturi, totam nemo voluptas, animi dicta earum sequi harum nihil ipsum ea soluta, vel libero perferendis esse doloremque sit labore distinctio expedita a. Reprehenderit tempora dignissimos aut dicta ipsa?<p></p>
			</p>
		</div>
	</div>
</div>
<center>
	<a href="cv.pdf" download>TELECHARGER MON CV</a>
</center>
<br><br>
<h2>
	<center>Compétences</center>
	<br>
</h2>
<div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div><br>
<div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div><br>
<div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div><br>
<div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div><br>
<div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br><br>
<h2>
	<center>Mes Projets</center>
</h2>{% endblock %}
