{% extends 'base.html.twig' %}

{% block body %}

	<h1>
		<center>
			<p class="text-warning"><br><br>PICOUT<br><br><center>
					<p class="text-warning">TOM<br></p>
				</h1>
				<h3>
					<center>
						<p class="text-warning">Etudiant en Informatique</p>
					</center>
				</h3>
				<br><br>
				<h2>
					<center>A propos de moi</center>
				</h2>
				<br>
				<div class="card-group">
					<div class="card bg-light mb-3" style="max-width: 100rem;">
						<div class="card-header">Header</div>
						<div class="card-body">
							<h5 class="card-title">Light card title</h5>
							<p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius esse iure, architecto expedita quam quaerat debitis eveniet minima optio dolorum nihil. Corporis, ut non. Sed et nostrum harum molestias obcaecati aspernatur voluptatum voluptates, quos praesentium ab voluptatibus rerum eligendi ex, omnis, nisi corporis soluta ad dolore id doloribus. Beatae, facere.</p>
							<p></p>
							Totam facere reiciendis ea accusantium aspernatur facilis dolor tempore repellat minus officia, culpa, explicabo voluptates eligendi vero quae animi dolorem veritatis sequi! Mollitia odit illo cupiditate, quis rem et, temporibus magni explicabo vitae accusamus, velit omnis ab officiis ut dolore nobis quisquam labore iste ipsum recusandae possimus pariatur. Optio, soluta?<p></p>
						</p>
					</div>
				</div>
				<div class="card text-white bg-dark mb-3" style="max-width: 100rem;">
					<div class="card-header">Header</div>
					<div class="card-body">
						<h5 class="card-title">Dark card title</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus voluptatum, minima debitis itaque eveniet omnis, dolorem et impedit illo corrupti autem magni sint non placeat aspernatur consequatur consectetur modi, maxime sed ab dolore ducimus eum. Laboriosam adipisci ipsa sint voluptas labore velit facilis, molestias accusamus ipsam rerum consectetur asperiores fuga.</p>
						<p></p>
						Nam sapiente commodi ea placeat facilis. Quisquam, quasi quia, atque unde eos hic pariatur ea, autem tempora aspernatur nobis perferendis quo! Excepturi, totam nemo voluptas, animi dicta earum sequi harum nihil ipsum ea soluta, vel libero perferendis esse doloremque sit labore distinctio expedita a. Reprehenderit tempora dignissimos aut dicta ipsa?<p></p>
					</p>
				</div>
			</p>
		</div>
		<div class="card bg-light mb-3" style="max-width: 100rem;">
			<div class="card-header">Header</div>
			<div class="card-body">
				<h5 class="card-title">Light card title</h5>
				<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus voluptatum, minima debitis itaque eveniet omnis, dolorem et impedit illo corrupti autem magni sint non placeat aspernatur consequatur consectetur modi, maxime sed ab dolore ducimus eum. Laboriosam adipisci ipsa sint voluptas labore velit facilis, molestias accusamus ipsam rerum consectetur asperiores fuga.</p>
				<p></p>
				Nam sapiente commodi ea placeat facilis. Quisquam, quasi quia, atque unde eos hic pariatur ea, autem tempora aspernatur nobis perferendis quo! Excepturi, totam nemo voluptas, animi dicta earum sequi harum nihil ipsum ea soluta, vel libero perferendis esse doloremque sit labore distinctio expedita a. Reprehenderit tempora dignissimos aut dicta ipsa?<p></p>
			</p>
		</div>
	</div>
</div>
<center>
	<a href="cv.pdf" download>TELECHARGER MON CV</a>
</center>
<br><br>
<h2>
	<center>Compétences</center>
	<br>
</h2>
<div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div><br>
<div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div><br>
<div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div><br>
<div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div><br>
<div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br><br>
<h2>
	<center>Mes Projets</center>
</h2>
<br><br>
<div class="card-group">
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="..." alt="Card image cap">
		<div class="card-body">
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="..." alt="Card image cap">
		<div class="card-body">
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="..." alt="Card image cap">
		<div class="card-body">
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>

	</div>
</div>
<br>
<div class="card-group">
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="..." alt="Card image cap">
		<div class="card-body">
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="..." alt="Card image cap">
		<div class="card-body">
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="..." alt="Card image cap">
		<div class="card-body">
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
</div>
<br><br>
<center>
	<h2>Mes Experiences</h2><br><br></center>
<div class="card-group">
	<div class="card text-dark bg-warning mb-3" style="max-width: 25rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Primary card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Secondary card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card text-dark bg-warning mb-3" style="max-width: 25rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Success card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Danger card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
</div>
<div class="card-group">
	<div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Warning card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card text-dark bg-warning mb-3" style="max-width: 25rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Info card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Light card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card text-dark bg-warning mb-3" style="max-width: 25rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Dark card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		</div>
	</div>
</div>
<br><br>
<h2>
	<center>Contactez-Moi</center>
	<br>
</h2>
<form>
	<fieldset control-id="ControlID-7">
		<div class="form-group">
			<label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" control-id="ControlID-9">
			<small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre adresse électronique avec qui que ce soit.</small>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1" class="form-label mt-4">Sujet</label>
			<input type="text" class="form-control" id="text" placeholder="Sujet" control-id="ControlID-10">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1" class="form-label mt-4">Votre Nom</label>
			<input type="text" class="form-control" id="text" placeholder="Nom" control-id="ControlID-10">
		</div>
		<div class="form-group">
			<label for="exampleTextarea" class="form-label mt-4">Example textarea</label>
			<textarea class="form-control" id="exampleTextarea" rows="3" control-id="ControlID-13"></textarea>
		</div>
		<br>
		<center>
			<button type="submit" class="btn btn-primary" control-id="ControlID-28">Submit</button>
		</center>
	</fieldset>
	<br><br>
</form>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43612.32624681664!2d3.0431203682743635!3d48.46488363677181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ef46bc804c1d37%3A0x6ae92c45bda4a415!2s16%20Rue%20Andr%C3%A9%20Ch%C3%A9nier%2C%2077520%20Montigny-Lencoup!5e1!3m2!1sfr!2sfr!4v1622205467662!5m2!1sfr!2sfr" width="1300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe><br><br>{% endblock %}
