{% extends 'base.html.twig' %}

{% block body %}
	<link rel="stylesheet" href="bootstrap.css">
	<h1>Bienvenue dans mon portfolio !</h1>

	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore ullam nihil porro numquam quos quaerat quasi fugit quod labore magnam neque, adipisci laboriosam laudantium? Voluptatibus id officiis, obcaecati corrupti molestiae quidem consequatur enim. Alias maxime nulla, praesentium sunt error dolore!</p>
	<p>Consequatur molestiae, a incidunt dolor est earum ipsam necessitatibus iure quos impedit voluptates cumque, reiciendis consequuntur sed quisquam ad? Nostrum, nesciunt. A tenetur reprehenderit, maxime veritatis voluptatem vero ullam, animi consequatur minima repellat doloribus, aperiam eveniet perspiciatis similique explicabo. Sapiente?</p>

{% endblock %}
