{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	<center>
		<br><br><h1>
			<p class="text-warning">CRYPTO</p>
		</h1><br><br></p>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste sit voluptates illo placeat, ipsam obcaecati. Eaque praesentium amet corrupti nam laudantium rerum aperiam animi a modi veniam ducimus quas, porro repellat fugit, aspernatur quo esse dolore ad, necessitatibus et molestias maiores tempora consectetur quod. Repellat cumque nesciunt tempora reiciendis maxime.</p>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste sit voluptates illo placeat, ipsam obcaecati. Eaque praesentium amet corrupti nam laudantium rerum aperiam animi a modi veniam ducimus quas, porro repellat fugit, aspernatur quo esse dolore ad, necessitatibus et molestias maiores tempora consectetur quod. Repellat cumque nesciunt tempora reiciendis maxime.</p>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste sit voluptates illo placeat, ipsam obcaecati. Eaque praesentium amet corrupti nam laudantium rerum aperiam animi a modi veniam ducimus quas, porro repellat fugit, aspernatur quo esse dolore ad, necessitatibus et molestias maiores tempora consectetur quod. Repellat cumque nesciunt tempora reiciendis maxime.</p>
	<br><br>
	<h2>MON TOP 3</h2>
	<br><br>
	<h3>
		<img src="https://img.icons8.com/nolan/64/1-circle.png"/>
		<a href="https://www.coingecko.com/fr/pi%C3%A8ces/xrp">XRP</a>
	</h3>
	<h3>
		<img src="https://img.icons8.com/nolan/64/the-crew-2.png"/>
		<a href="https://www.coingecko.com/fr/pi%C3%A8ces/elrond">EGLD</a>
	</h3>
	<h3>
		<img src="https://img.icons8.com/nolan/64/3.png"/>
		<a href="https://www.coingecko.com/fr/pi%C3%A8ces/binance-coin">BNB</a>
	</h3>
	<br><br>
	<h2>BIEN DEBUTER !</h2>
	<br><br>
	<div class="card-group">
		<div class="card">
			<iframe width="450" height="270" src="https://www.youtube.com/embed/L4-uBHMcHus" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				<p class="card-text">
					<small class="text-muted">Last updated 3 mins ago</small>
				</p>
			</div>
		</div>
		<div class="card">
			<iframe width="450" height="270" src="https://www.youtube.com/embed/If5knyqF_0E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
				<p class="card-text">
					<small class="text-muted">Last updated 3 mins ago</small>
				</p>
			</div>
		</div>
		<div class="card">
			<iframe width="430" height="270" src="https://www.youtube.com/embed/IPMdW5IG10U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				<p class="card-text">
					<small class="text-muted">Last updated 3 mins ago</small>
				</p>
			</div>
		</div>
	</div>

	<br><br>
	<iframe src="https://fr.widgets.investing.com/crypto-currency-rates?theme=darkTheme&pairs=945629,997650,1001803" width="800" height="200" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>
	<br><br>
</center>{% endblock %}
