{% extends 'base.html.twig' %}

{% block title %}Hello SportController!
{% endblock %}

{% block body %}
	<br><br>
	<center>
		<h1>SPORT</h1>
		<br><br>
		<p>
			<span>Cela fais maitenant bientot 2 ans que j'ai rellement commencé le sport même si il y'a eu de nombreux obstacles comme les grèves des transports mais surout les confinement avec les fermetures des salles de sport, je n'ai alors pas beaucoup evolué mais j'ai appris beaucoup de chose sur cette discipline ce qui en fait maitenant un passion.</span>
			<span>Ci dessous vous pouvais voir mon programme de sport et le calendrier de mes séances.</span>
		</p>
		<br><br>
		<iframe name="lecteurPDF" src="programme.pdf" width="1080" height="800"></iframe>
		<br>
		<a href="programme.pdf" download>TELECHARGER MON CV</a>
		<br><br>
		<iframe src="https://calendar.google.com/calendar/embed?src=picouttom%40gmail.com&ctz=Europe%2FParis" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</center>
	<br><br>
{% endblock %}
