{% extends 'base.html.twig' %}

{% block title %}Hello SportController!
{% endblock %}

{% block body %}
	<br><br>
	<center>
		<h1>SPORT</h1>
		<br><br>
		<p>
			<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi autem cumque iste minus qui tempore, sint temporibus provident ab molestias iure sapiente aspernatur eaque nesciunt voluptate harum totam eligendi. Dolores, sint dignissimos, incidunt reprehenderit inventore doloribus, totam eveniet numquam libero iure aut autem. A vero, quas asperiores vitae esse distinctio sequi quaerat quisquam fugiat nulla provident architecto perspiciatis exercitationem inventore aut quasi maxime. Magnam similique dolor sunt qui quam sequi quos earum neque eaque quas?</span>
			<span>Hic vero voluptatum, magnam quas sapiente repellat accusantium reprehenderit odio doloremque dolore nemo velit, officiis suscipit sed error odit modi reiciendis obcaecati voluptates, optio voluptate veritatis. Ea corrupti molestias autem illum ad, animi nostrum maiores. Modi, laudantium. Ab deleniti ipsum molestiae quibusdam culpa iure labore officia itaque vel repellendus perspiciatis nostrum exercitationem natus animi neque autem aperiam maiores, nam eum corporis fugit, perferendis vitae voluptates nemo! Saepe iste omnis modi consequuntur ad quae veniam minima!</span>
		</p>
		<br><br>
		<iframe name="lecteurPDF" src="programme.pdf" width="1080" height="800"></iframe>
		<br>
		<a href="programme.pdf" download>TELECHARGER MON CV</a>
		<br><br>
		<iframe src="https://calendar.google.com/calendar/embed?src=picouttom%40gmail.com&ctz=Europe%2FParis" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</center>
{% endblock %}
